@use 'SASS:map';
@use '@angular/material' as mat;
@import '@angular/material/theming';

.masonry-item {
  width: 350px;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

#content {
  padding: 1rem 0;
}

table {
  width: 100%;
}

.mat-expansion-panel-spacing {
  margin: 0 !important;
}

@mixin custom-according-theme($theme) {
  $color: mat.get-color-config($theme);
  $primary-palette: map.get($color, 'primary');
  .mat-expansion-panel-header.mat-expanded {
    height: 48px;
    background: mat-color($primary-palette);
    &:hover,
    &:focus {
      background: mat-color($primary-palette);
    }
  }
}
